<h2 class="text-center font-weight-bold">Ingresar a la cuenta</h2>

<div class="d-flex justify-content-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Ingrese su email' %>
    </div>

    <div class="field">
      <%= f.label :contraseña %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Ingrese su contraseña' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label 'Recordarme' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Ingresar" %>
    </div>

    <div class="actions">
      <%= link_to 'Volver', root_path %>
    </div>
  <% end %>
</div>