<%= form_with(model: @tweet, local: true) do |form| %>

  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this @tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="card col-6 offset-3">

  <div class="p-5">
    <%= form.text_area(:content, placeholder: 'Escribe tu tweet...', class: 'form-control mb-2') %>
    <%= form.submit(class: 'btn btn-primary') %>
  </div>

</div>
<% end %>
