<% if user_signed_in? %>
    <div class="row">
        <div class="col-3">
            <%= render 'index_profile' %>
        </div>
        <div class="col-6">
            <%= render 'form' %>
            <%= render 'tweets' %>
        </div>
    </div>
<% else %>
    <%= render 'tweets' %>
<% end %>
<br>
<%= paginate @tweets %>