<% if user_signed_in? %>
    <div class="row mr-0">
        <div class="card col-3 pr-0 border-left-0">
            <%= render 'index_profile' %>
        </div>
        <div class="col-6">
            <%= render 'form' %>
            <%= render 'tweets' %>
        </div>
    </div>
<% else %>
    <div class="col-8 offset-2">
        <%= render 'tweets' %>
    </div>
<% end %>
<br>
<%= paginate @tweets %>