<% if @tweet.likes.count == 0 %>
<h3 class="text-center font-weight-bold mt-5">El tweet no tiene likes <span><i class="fas fa-sad-tear text-primary"></i></span></h3>
<% else %>
<h3 class="text-center font-weight-bold mt-5">Mira quien le ha dado like al tweet! <span><i class="fas fa-smile text-primary"></i></span></h3>
<% end %>

<div class="card container p-4 flex-row-reverse justify-content-center vh-100">
  <% @tweet.likes.each do |like| %>
    <div class="text-center p-3">
      <a href="<%= profile_user_path(like.user.id) %>">
        <%= avatar_for(like.user, 70, 70) %>
      </a>
      <div class="mt-2 font-weight-bold">
        <%= like.user.username.capitalize %>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center mt-3 mb-5">

  <%= link_to 'Volver', tweets_path %>

  <% if current_user.id == @tweet.user_id %> |
    <%= link_to 'Editar', edit_tweet_path(@tweet) %> |
    <%= link_to 'Borrar', tweet_path(@tweet.id), method: :delete %>
  <% end %>

</div>
